<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup Page</title>
    <style>
      h1 { position: absolute; top: 5px; font-size: 80px; color: #ffffffa9;
      text-align: center; width: 100vw; } body { background-image:
      url("https://t4.ftcdn.net/jpg/07/30/67/99/360_F_730679936_3OpzknGSZF7yuEVLNVhf6iT2J7AYP8BK.jpg");
      background-size: cover; background-position: center; background-repeat:
      no-repeat; font-family: Arial, sans-serif; margin: 0; padding: 0; display:
      flex; justify-content: center; align-items: center; height: 100vh; }
      .container { margin-top: 30px; background-color: #ffffffff; opacity: 70%;
      padding: 30px; border-radius: 10px; box-shadow: 0 4px 10px rgba(0, 0, 0,
      0.1); width: 500px; height: 500px; text-align: center; margin-top: 10%; }
      .tab { cursor: pointer; font-size: 20px; padding: 0; margin-bottom: 25px;
      border-bottom: 2px solid transparent; transition: border-color 0.3s; }
      .form { display: block; } .form input { width: 85%; padding: 12px;
      margin-bottom: 15px; border: 1px solid #ccc; border-radius: 5px;
      font-size: 16px; } .form button { width: 70%; padding: 12px;
      background-color: #007bff; border: none; border-radius: 20px; color:
      white; font-size: 16px; cursor: pointer; transition: background-color
      0.3s; margin-bottom: 7px; } .form button:hover { background-color:
      #0056b3; } .link { text-align: center; margin-top: 10px; font-size: 14px;
      } .link a { color: #007bff; text-decoration: none; } .link a:hover {
      text-decoration: underline; } #first-name { display: inline-block; width:
      45%; } #last-name { display: inline-block; width: 45%; } .form-row {
      display: flex; gap: 10px; /* Space between fields */ margin-bottom: 7px; }
      .form-row input { flex: 1; padding: 10px; border: 1px solid #ccc;
      border-radius: 4px; font-size: 16px; } .message{ background-color: red; font-size: 16px; color: white; height:30px; width:150px; margin:auto; margin-bottom:10px;  }
    </style>

    <!--to load icons-->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>PATIENT MANAGEMENT SYSTEM</h1>

    <div class="container">
      <div class="tab">Sign Up</div>
      {{#if msg}}
        <div class="message"><p>{{this.msg}}</p></div>
      {{/if}}

      <div></div>

      <!-- Signup Form -->
      <form action="/signup" method="POST" class="form" id="patient">
        <div class="form-row">
          <input
            type="text"
            name="firstName"
            placeholder="First Name"
            id="first-name"
            required
          />
          <input
            type="text"
            name="lastName"
            placeholder="Last Name"
            id="last-name"
            required
          />
        </div>

        <input
          type="email"
          name="email"
          placeholder="Email"
          id="email"
          required
        />
        <input
          type="tel"
          name="phone"
          id="phone"
          placeholder="Phone number"
          pattern="[0-9]{10}"
          required
        />
        <input
          type="text"
          name="username"
          placeholder="Username"
          id="username"
          required
        />

        <input
          type="password"
          name="password"
          placeholder="Password"
          id="pwd"
          required
        />
        <input
          type="password"
          name="confirmPassword"
          placeholder="Re-enter Password"
          id="pwd-recheck"
          required
        />

        <button class="signup submit" type="submit">Sign up</button>
        <div class="link">
          <p>Already have an account? <a href="/">Login</a></p>
        </div>
      </form>
    </div>

    <script></script>
  </body>
</html>